<template name="visualization">
	{{> toolbar}}
	<div class="maps">
        <div class="row">
            <div id="map-container">
                {{> map}}
            </div>
            <div id="map-sidebar"> <span class="hd-map-sidebar pull-right">Top 100 Data Points</span>
                {{> detailmap}}
            </div>
        </div>
    </div>
    <div class="maps-footer row">
        {{> vizTable}}
    </div>
</template>

<template name="map">
	<div id="map"></div>
</template>

<template name="detailmap">
	<div id="detailmap" class="pull-right"></div>
</template>

<template name="toolbar">
    <div id="details" class="maps-filters row">
        <div class="span6">
            <h2 class="hd-map">Find schools by:</h2>
        </div>
        <div class="span6"><a id="reset" class="btn-reset btn btn-mini pull-right">Reset Filters</a></div>
    </div>
    <div class="row">
        <div class="span2">
            <label for="type">School Type:</label>
            <select id="type">
            </select>
        </div>
        <div class="span2">
            <label for="level">School Level:</label>
            <select id="level">
            </select>
        </div>
        <div class="span2">
            <label for="locality">School Locality:</label>
            <select id="locality">
            </select>
        </div>
        <div class="span2"> <span class="slider-label">Number of Students:</span> <span id="numStudents" class="slider-range">0 - 6545</span>
            <div id="studentSlider" class="slider"></div>
        </div>
        <div class="span2"> <span class="slider-label">% Free Lunch Students:</span> <span id="lunchStudents" class="slider-range">0 - 100</span>
            <div id="lunchStudentSlider" class="slider"></div>
        </div>
        <div class="span2"> <span class="slider-label">Max. Available Speed:</span> <span id="maxdownSpeed" class="slider-range">N/A - >1gbps</span>
            <div id="maxdownSpeedSlider" class="slider"></div>
        </div>
    </div>
</template>

<template name="vizTable">
	<div class="span12">
	    <div class="table-hd row">
	        <div class="span6">
	            <div id="recordSection">
	                <h3 id="txtSelection" class="hd-map"></h3>
	            </div>
	        </div>
	        <div class="span6">
	        </div>
	    </div>
	    <div id="contents"></div>
	</div>
</template>