<head>
	<meta charset="utf-8">
	<title>US Public Schools Selector &laquo; FCC</title>
	<meta name="description" content="FCC US Public Schools Selector">
	<meta name="author" content="Federal Communications Commission - FCC">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.css' rel='stylesheet' />
	<!--[if lte IE 8]>
	  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.0.0/mapbox.ie.css' rel='stylesheet' />
	<![endif]-->
	<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" /> -->
	<link rel="stylesheet" href="css/jquery-ui.css" />
	<link rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="http://www.fcc.gov/sites/default/files/fcc_favicon_0.ico" type="image/x-icon">
	<link rel="stylesheet" href="splassh-viz.css" />
</head>
<body>
    {{> body}}
</body>

<template name="body">
    <header role="banner">
        <div id="skip"> <a id="skip-main" href="#skiptarget1" class="visuallyhidden focusable skipLink">Skip to main content</a> <a id="skip-foot" href="#skiptarget3" class="visuallyhidden focusable skipLink">Skip to footer and contact information</a> </div>
        <div id="fcc-banner" class="container"> <a class="logo" href="http://www.fcc.gov"> <img src="http://appsextdev.fcc.gov/sab/img/navFCC.gif" alt="Go to the Federal Communications Commission homepage at www.fcc.gov" title="Go to the Federal Communications Commission homepage at www.fcc.gov"> </a>
            <h1>US Public Schools Selector <span style="font-size: 14px;">(DEMO)</span></h1>
            <a class="nav-utility pull-right" href="#void">About</a> </div>
    </header>
    <a class="visuallyhidden" id="skiptarget1" name="skiptarget1" tabindex="-1"></a>
    <div class="container">
        {{> visualization}}
    </div>
</template>